* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 3000px;
}

 .container {
  margin : 0px auto;
  padding: 0 20px;

}

/* Small Screens */
@media (min-width: 768px ) {
  .container {
    width: 750px;
  } 
}
/* Medium Screens */
@media (min-width: 992px ) {
  .container {
    width: 970px;
  } 
}
/* Large Screens */
@media (min-width: 1200px ) {
  .container {
    width: 1170px;
  } 
}

:root {
  --main-color :#10cab7;
  --section-color: #f6f6f6;
  --main-duration: 0.3s;
  --sec-color: #2c4755;
  --main-padding: 60px;
  --back-color: #ebeced;
}